<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>
              <%= title%> | SNAPCHAT
       </title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
       <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
       <div class="home">
              <div class="chat">
                     <div class="navigation">
                            <div class="nav-left">
                                   <a href="/profile"><i class="ri-user-smile-fill"></i></a>
                                   <a href="/lists"> <i class="ri-search-line"></i></a>
                            </div>
                            <div class="nav-center">
                                   <h1>Chat</h1>
                            </div>
                            <div class="nav-right">
                                   <a href="/stories"><i class="ri-user-add-fill"></i></a>
                                   <a href="/settings"><i class="ri-more-fill"></i></a>
                            </div>
                     </div>

                     <div class="snap">
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Chelsii</h1>
                                          <p>New Chat <span>. 2s</span></p>
                                   </div>
                                   <a style="left: 71%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Smriti</h1>
                                          <p>New Snap <span>. 7s</span></p>
                                   </div>
                                   <a style="left: 71%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Kavi</h1>
                                          <p>New Snap <span>. 10s</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Jully</h1>
                                          <p>New Snap <span>. 11s</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Tanisha</h1>
                                          <p>Received <span>. 15s</span></p>
                                   </div>
                                   <a style="left: 70%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 20px;" class="ri-camera-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Khushi</h1>
                                          <p>New Snap <span>. 25s</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Shubh</h1>
                                          <p>New Chat <span>. 27s</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Parth</h1>
                                          <p>New Snap <span>. 1h</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Umesh</h1>
                                          <p>New Chat <span>. 2h</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Naman</h1>
                                          <p>New Snap <span>. 2h</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Hariom</h1>
                                          <p>New Snap <span>. 4h</span></p>
                                   </div>
                                   <a style="left: 69%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Dev</h1>
                                          <p>Opened <span>. 4h</span></p>
                                   </div>
                                   <a style="left: 72%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Chetna</h1>
                                          <p>New Snap <span>. 2d</span></p>
                                   </div>
                                   <a style="left: 70%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Jyoti</h1>
                                          <p>Opened <span>. 1d</span></p>
                                   </div>
                                   <a style="left: 72%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 20px;" class="ri-camera-line""></i></a>
                     </div>
                     <div class=" one">
                                                 <a href="/stories"><i class="ri-user-fill"></i></a>
                                                 <div class="text">
                                                        <h1>Sonu</h1>
                                                        <p>New Chat <span>. 5d</span></p>
                                                 </div>
                                                 <a style="left: 70%; width: 30px; height: 30px;" href="/write"><i
                                                               style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Neha</h1>
                                          <p>Delivered <span>. 3w</span></p>
                                   </div>
                                   <a style="left: 70%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 20px;" class="ri-camera-line"></i></a>
                            </div>
                            <div class="one">
                                   <a href="/stories"><i class="ri-user-fill"></i></a>
                                   <div class="text">
                                          <h1>Vivek</h1>
                                          <p>Received <span>. 4w</span></p>
                                   </div>
                                   <a style="left: 70%; width: 30px; height: 30px;" href="/write"><i
                                                 style="font-size: 15px;" class="ri-chat-4-line"></i></a>
                            </div>
                     </div>
                     <div class="write">
                            <a href="/write"><i class="ri-edit-box-fill"></i></a>
                     </div>
                     <div class="bottom">
                            <a href="/map"><i class="ri-map-pin-line"></i></a>
                            <a href="/home"><i class="ri-chat-4-line"></i></a>
                            <a href="/camera"><i class="ri-camera-line"></i></a>
                            <a href="/stories"><i class="ri-user-add-line"></i></a>
                            <a href="/"><i class="ri-play-line"></i></a>
                     </div>
              </div>
       </div>
</body>

</html>