<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>
              <%= title%> | SNAPCHAT
       </title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
       <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
       <div class="home-map">
              <div class="chat">
                     <div class="navigation">
                            <div class="nav-left">
                                   <a href="/profile"><i class="ri-user-smile-fill"></i></a>
                                   <a href="/lists"> <i class="ri-search-line"></i></a>
                            </div>
                            <div class="nav-center">
                                   <h1>Destination</h1>
                            </div>
                            <div class="nav-right">
                                   <a href="/settings"><i class="ri-settings-5-fill"></i></a>
                            </div>
                     </div>

                     <div class="map">
                              <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234700.85820797127!2d77.26580524722284!3d23.199347692929788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c428f8fd68fbd%3A0x2155716d572d4f8!2sBhopal%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1668490143181!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
                     </div>

            
                     <div class="bottom">
                            <a href="/map"><i class="ri-map-pin-line"></i></a>
                            <a href="/home"><i class="ri-chat-4-line"></i></a>
                            <a href="/camera"><i class="ri-camera-line"></i></a>
                            <a href="/stories"><i class="ri-user-add-line"></i></a>
                            <a href="/"><i class="ri-play-line"></i></a>
                     </div>
              </div>
       </div>
</body>

</html>