<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title><%= title%> | SNAPCHAT</title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
          <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
          <div class="reset-password">
                    <form class="rst" action="/reset-password" method="post">
                         <h1><a style="text-decoration: none;" href="/settings"><i style="font-size: 30px; color:#238c36 ; right: 25px; position: relative; top: 2px;" class="ri-arrow-left-s-line"></i></a> Reset Password</h1>  
                         <p>To set a new password, please enter<br><span>your current password first.</span></p>
                         <input name="oldpassword" type="password" placeholder="oldPassword"> 
                         <h3>Please enter your new password.</h3>
                         <input style="position: relative; top: 30%;" name="newpassword" class="new" type="password" placeholder="newPassword"> 
                         <button><a style="text-decoration: none; color: rgba(0, 0, 0, 0.66);" href="/settings">Reset Password</a></button>
                    </form>
          </div>
</body>
</html>
