<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title><%= title%> | SNAPCHAT</title>
          <link rel='stylesheet' href='/stylesheets/style.css' />
          <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
         
              <div class="write">
                    <h1>Write Article</h1>
                    <img height="50px" width="50px" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c536.png" alt="">
                    <div id="editorjs"></div>
                    <button class="artical">Save Article</button>
              </div>
          
          
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@2.0.0"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
              <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@2.8.0/dist/bundle.min.js"></script>
              <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
              <script src="/javascripts/edit.js"></script>
              
</body>
</html>